html,
body {
  margin: 0;
}
body {
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 1400px;
  display: flex;
  margin: 0 auto;
}
.main {
  display: flex;
  flex-flow: column;
  width: 85%;
}
.menu {
  border: solid 3px #ffffff;
  width: 15%;
  background-color: #ffd9d7;
  padding: 10px 10px 0px;
}

.menu-imagem {
  width: 100%;
}

.menu-item {
  list-style: none;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.menu-item:first-child {
  font-weight: bold;
  text-decoration: underline;
}

.menu-link {
  text-decoration: none;
  color: #b57e7b;
  font-size: 18px;
}
.header {
  border: solid 3px #ffffff;
  min-height: 150px;
}

.imagem-principal {
  width: 100%;
  height: 300px;
}
.content {
  border: solid 3px #ffd9d7;
  background-color: white;
  min-height: 300px;
  padding: 40px;
}

.titulo-principal {
  color: #b57e7b;
}
.footer {
  border: solid 3px #ffffff;
  background-color: #ffd9d7;
  min-height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-imagem {
  width: 50px;
}

.footer-texto {
  font-size: 18px;
  font-weight: bold;
  color: #b57e7b;
}

.footer-dados {
  font-size: 14px;
  color: #b57e7b;
}
